In [235]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    Men = df.loc[df['sex']=="Male"]
    average_age_men_df = Men['age']
    
    average_age_men = round(average_age_men_df.mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = (df.loc[df['education']=="Bachelors"]['education'].count())*100/len(df)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    total_higher_ed = df[(df['education']=="Bachelors")|(df['education']=="Masters")|(df['education']=="Doctorate")]
    total_higher_ed_num = len(total_higher_ed)

    bachelorsa50k = df[(df['education']=="Bachelors") & (df['salary']==">50K")].count()
    mastersa50k = df[(df['education']=="Masters") & (df['salary']==">50K")].count()
    doctoratea50k = df[(df['education']=="Doctorate") & (df['salary']==">50K")].count()

    higher_education_rich_num = (bachelorsa50k+mastersa50k+doctoratea50k)*100/total_higher_ed_num
    higher_education_rich = round(higher_education_rich_num[0],1)

    # What percentage of people without advanced education make more than 50K?
    anti_total_higher_ed = df[~((df['education']=="Bachelors")|(df['education']=="Masters")|(df['education']=="Doctorate"))]
    total_anti_higher_ed_num = len(anti_total_higher_ed)

    bachelorsu50k = df[(df['education']=="Bachelors") & (df['salary']==">50K")].count()
    mastersu50k = df[(df['education']=="Masters") & (df['salary']==">50K")].count()
    doctorateu50k = df[(df['education']=="Doctorate") & (df['salary']==">50K")].count()

    lower_education_rich_num = (bachelorsu50k+mastersu50k+doctorateu50k)*100/total_anti_higher_ed_num
    lower_education_rich = round(lower_education_rich_num[0],1)

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df[(df['education']=="Bachelors")| (df['education']=="Masters") | (df['education'] =="Doctorate")]
    lower_education = df[~((df['education']=="Bachelors")| (df['education']=="Masters") | (df['education'] =="Doctorate"))]

    # percentage with salary >50K
    #higher_education_rich = None?
    #lower_education_rich = None?

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    #Min_hours_employees
    min_hour_employees = df[df['hours-per-week'] == df['hours-per-week'].min()]
    num_min_workers = len(min_hour_employees[min_hour_employees['salary']==">50K"])

    rich_percentage = num_min_workers*100/len(df)

    # What country has the highest percentage of people that earn >50K?
    countries = df[['native-country','salary']]
    rich_countries = countries[countries['salary']==">50K"]
    
    highest_earning_country = rich_countries.value_counts().idxmax()[0]
    highest_earning_country_percentage = rich_countries.value_counts()[0]*100/len(rich_countries)

    # Identify the most popular occupation for those who earn >50K in India.
    Indian_df = df[df['native-country']=="India"]
    
    top_IN_occupation = Indian_df['occupation'].mode()[0]

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
   }

In [236]:
df = pd.read_csv('/Users/macbookpro/Downloads/adult.data.csv')

In [237]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [262]:
#Min_hours_employees
#advanced_education = df[(df['education']=="Bachelors")| (df['education']=="Masters") | (df['education'] =="Doctorate")]

#advanced_education

#higher_education_rich = (advanced_education[advanced_education['salary']==">50K"].count())

#higher_education_rich

bachelors = df[df['education']=="Bachelors"]
#bachelorsu50k = bachelors[bachelors['salary']==">50K"].count()
#bachelorsu50k
# bachelors = 5355
#above 50k = 2221

#masters = df[df['education']=="Masters"]
#masters = masters[masters['salary']==">50K"].count()
#masters
# masters 1723
# above 50k = 959

doctorate = df[df['education']=="Doctorate"]
doctorateu50k = doctorate[doctorate['salary']==">50K"].count()
doctorateu50k
#doctorate 413

#doctorate 306 
advanced_education = df[(df['education']=="Bachelors")| (df['education']=="Masters") | (df['education'] =="Doctorate")]
(306+959+2221)/len(advanced_education)

0.46535843011613937

In [265]:
bachelors = df[(df['education']=="Bachelors") & (df['salary']==">50K")]
bachelors.count()
#bachelorsu50k = bachelors[bachelors['salary']==">50K"].count()

age               2221
workclass         2221
fnlwgt            2221
education         2221
education-num     2221
marital-status    2221
occupation        2221
relationship      2221
race              2221
sex               2221
capital-gain      2221
capital-loss      2221
hours-per-week    2221
native-country    2221
salary            2221
dtype: int64

In [283]:
# countries = df[['native-country','salary']]
# rich_countries = countries[countries['salary']==">50K"]
    
# highest_earning_country = rich_countries.value_counts().idxmax()[0]
# highest_earning_country_percentage = rich_countries.value_counts()[0]*100/len(rich_countries)

In [377]:
# filtered_grp = df[df['salary']==">50K"]
# grp=df.groupby(['native-country']).size()
# #print(grp)
# country_list = grp.to_frame()

# print(country_list.iloc[:,0])

# grp2 = filtered_grp.groupby(['native-country']).count()
# #print(grp2.iloc[:,1])






# #grp[grp['salary']=='>50K']